name: CI

on:
  push:
    branches: [ "main", "next" ]
  pull_request:
    branches: [ "main", "next" ]

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: write
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Build and run tests
        run: ./gradlew build

      - name: Publish Test Results
        uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          report_paths: '**/build/test-results/*/TEST-*.xml'

      - name: Set up Node 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'
        if: success() && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next')

      - name: Install Semantic Release plugins
        run: npm install --global semantic-release@24.1.2 @semantic-release/changelog@6.0.3 @semantic-release/git@10.0.1 @semantic-release/github@11.0.1 @semantic-release/exec@6.0.3
        if: success() && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next')

      - name: Clean existing JAR files with previous version
        run: rm -f build/libs/*-all.jar
        if: success() && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next')

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
        if: success() && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next')

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: APP Version
          path: app.version
          retention-days: 30
        if: success() && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next')

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: telegram-challenge-bot
          path: build/libs/*-all.jar
          retention-days: 30
        if: success() && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next')

